<!-- <div>
    <p>

        Gestión de Intercambio
    </p>
    <img />
</div> -->

<!--
<div class="header">
    <div>
        <p>
            

        </p>
        <img class="point center" src="/assets/img/logo-banco-falabella.png" />
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
       
    </div>
</div>
-->

<div class="header">
    <mat-toolbar>
        <mat-toolbar-row>
            <img class="logo" src="/assets/img/logo-banco-falabella.png">
        </mat-toolbar-row>
    </mat-toolbar>


</div>