ul li {
    list-style: none;
}

.header {
    height: 10%;
    width: 100%;
    //position2 relative;
    //padding-top: 15px;
}

.point {
    width: 80%;
    margin-left: 20px;
}


/*
div {
    display: flex;
    align-items: center;
}*/

.toggleBoton {
    margin-right: 15px;
    cursor: pointer;
    cursor: hand;
    height: 19px;
    width: 27px;
}

.cursor-pointer {
    cursor: pointer;
    cursor: hand;
}

.center {
    display: inline-flex;
    margin-left: 380%;
    width: 80%;
}

.mat-toolbar-multiple-rows {
    min-height: 12%;
    position: fixed;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 4em;
}

.logo {
    margin: 0 auto;
    margin-top: 0em;
}