.fondo-renta-web {
    /* The image used */
    //background-image: url(/assets/img/fondo-renta.jpg);
    /* Half height */
    height: 85%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.renta-web {
    color: #fbf5f5ed;
    margin: 2em 1em;
    position: fixed;
    font-size: 2em;
    font-weight: lighter;
    font-style: lighter;
    font-stretch: lighter;
    font-family: "marnie";
}

.card-oportunity.mat-card {
    position: relative;
    top: 28em;
    left: 5em;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
}

.cmr {
    color: #0000008f;
    margin: 0.4em 4em;
    position: fixed;
    font-size: 1em;
    font-weight: lighter;
    font-style: lighter;
    font-stretch: lighter;
    font-family: "marnie";
}

.foto {
    position: fixed;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0 !important;
    margin-left: 0em;
}

.sale {
    color: #0000008f;
    margin: 0.4em 4em;
    position: fixed;
    font-size: 1em;
    font-weight: lighter;
    font-style: lighter;
    font-stretch: lighter;
    font-family: "marnie";
}

.foto-sale {
    position: fixed;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0 !important;
    height: 7%;
}

.descuentos {
    margin-left: 11em;
    margin-top: 0em;
}


/*visa*/

.visa-tarjet {
    color: #0000008f;
    margin: -0.6em 5.4em;
    position: fixed;
    font-size: 1em;
    font-weight: lighter;
    font-style: lighter;
    font-stretch: lighter;
    font-family: "marnie";
}

.foto-visa {
    position: fixed;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0 !important;
    height: 3%;
}

.visa {
    margin-left: 22em;
    margin-top: 1em;
}

.card-info-customer.mat-card {
    //max-width: 400px;
    width: 30%;
    height: 65%;
    margin-left: 53em;
    margin-top: -40em;
}

.ingress {
    color: green;
    font-family: "marnie";
    font-size: 1em;
    font-size: 2em;
    font-weight: lighter;
}

.date {
    color: darkgrey;
    font-family: "marnie";
    font-size: 0.3em;
    font-size: 1em;
    display: inline;
    font-weight: lighter;
}

.msje {
    width: 90%;
    color: darkgrey;
    font-weight: bolder;
    font-family: "marnie";
    font-size: 0.9em;
    margin-top: 1.1em;
}

.button-continuar {
    background-color: green;
    width: 65%;
    margin-left: 4.7em;
}

.mat-raised-button {
    background-color: green;
    width: 70%;
    margin-left: 3em;
    color: white;
    font-weight: bolder;
    font-family: "marnie";
}