<div>
    <img src="/assets/img/fondo-renta.jpg" class="fondo-renta-web">
</div>

<!--form renta-->
<mat-card class="card-info-customer">

    <div style="margin-left: 2.5em;
    margin-top: 2em;">
        <span class="ingress">
            <strong>Ayudanos <div class="date">con unos datos más.</div></strong>
            
        </span>


        <br>
        <br>
        <div class="msje">Porque te queremos dar una oferta hecha a la medida para ti, necesitamos saber un poco más.</div>
    </div>
    <form [formGroup]="formRenta">

        <p>
            <mat-form-field appearance="outline" style="    margin-left: 2.5em;
            margin-top: 4em;
            width: 70%;">
                <div style="float: left;
                margin-top: -3.4em;
                color: #888787;
                margin-left: -8px;
                font-size: 1em;
                font-family: marnie;
                display: inline;
                width: 120%;">¿ Cual es tu renta/ingreso mensual ?</div>
                <input matInput placeholder="Ej: $400.000" formControlName="renta">
            </mat-form-field>
        </p>

        <p>
            <button [disabled]="formIsOk()" (click)="sendRequestCustomer()" mat-raised-button>CONTINUAR</button>

        </p>

    </form>

</mat-card>