/*
.fondo {
    width: 100%;
    height: 90%;
    background-image: url(/assets/img/bg-landing.jpg);
    background-repeat: no-repeat;
    background-size: content;
    padding: 0;
    float: left;
    
}
*/

.fondo {
    /* The image used */
    background-image: url(/assets/img/bg-landing.jpg);
    /* Half height */
    height: 85%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-cta-cte {
    color: #fbf5f5ed;
    margin: 2em 1em;
    position: fixed;
    font-size: 2em;
    font-weight: lighter;
    font-style: lighter;
    font-stretch: lighter;
    font-family: "marnie";
    //position: relative;
    //margin-top: 2em;
    //margin-left: 1em;
}