<div class="fondo">

    <div class="title-cta-cte">
        Tu Cuenta Corriente
        <br>
        <span style="color: white;"><strong>100% online</strong></span>
    </div>
    <app-component-one></app-component-one>

    <!--
    <div class="title-cta-cte">
        <h2>Tu Cuenta Corriente</h2>
    </div>
    
    <app-component-one></app-component-one>
-->

</div>