/* .center-row {
  margin-top: calc(20vh - 50px);
}

.font-h600 {
  color: #37474F;
  font-weight: 600 !important;
}

.label-secondary {
  color: #546E7A;
} */

.loading {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(78, 78, 78, 0.555);
}

.loader {
  left: 50%;
  margin-left: -5em;
  font-size: 10px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}
