<mat-card class="card-oportunity">
    <div id="cmr">
        <img class="foto" src="/assets/img/ico-cmr.png">
        <div class="cmr">
            Acumula
            <br>
            <span style="color:black;"><strong>CMR Puntos</strong></span>
        </div>
    </div>

    <!--descuentos-->
    <div class="descuentos" id="descuentos">
        <img class="foto-sale" src="/assets/img/opu.png">
        <div class="sale">
            Descuentos
            <br>
            <span style="color:black;"><strong>Exclusivos</strong></span>
        </div>
    </div>


    <!--visa-->
    <div class="visa" id="visa">
        <img class="foto-visa" src="/assets/img/visa-blue-png-2.png">
        <div class="visa-tarjet">
            Compra en
            <br>
            <span style="color:black;">todo el mundo</span>
        </div>
    </div>
</mat-card>

<!--form info cta cte-->
<mat-card class="card-info-customer">

    <div>
        <span class="ingress">
            <strong>Ingresa</strong>
        </span>
        <span class="date">tus datos.</span>

        <br>
        <br>
        <div class="msje">Solo necesitas tener una cedula para realizar la solicitud.</div>
    </div>
    <form [formGroup]="formDateCustomer">
        <p>
            <mat-form-field appearance="outline" style="    margin-left: 4em;
            margin-top: 2em;
            width: 65%;">
                <div style="float: left;
                margin-top: -3em;
                color: #888787;
                margin-left: -8px;
                font-size: 1.1em;">Rut</div>
                <input matInput type="text" placeholder="Ej: 11.111.111-1" formControlName="rut">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" style="    margin-left: 4em;
            margin-top: 0.5em;
            width: 65%;">
                <div style="float: left;
                margin-top: -3em;
                color: #888787;
                margin-left: -8px;
                font-size: 1.1em;">Celular</div>
                <input matInput type="text" placeholder="Ej: 987654321" formControlName="phone">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" style="    margin-left: 4em;
            margin-top: 0.5em;
            width: 65%;">
                <div style="float: left;
                margin-top: -3em;
                color: #888787;
                margin-left: -8px;
                font-size: 1.1em;">Correo</div>
                <input matInput type="text" placeholder="Ej: correo@correo.cl" formControlName="email">
            </mat-form-field>
        </p>

        <p>
            <button [disabled]="formIsOk()" (click)="redirect()" mat-raised-button>CONTINUAR</button>

        </p>

    </form>


</mat-card>